{% extends "base.html" %}

{% block content %}
<h1>TODO List
  <a href="{% url 'catalog:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
</h1>
<div class="ml">
  {% for task in tasks %}

  <p><strong> {{ task.content }}{% if task.is_completed %}<span class="text-success"> Done </span>{% else %}<span class="text-danger"> Not done </span>{% endif %}</strong></p>
  <p><strong>Created:</strong> {{ task.published_date }} </p>
  <div class="text-muted"><strong>Tags:</strong>
    {% for tag in task.tags.all %}
    <span>{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
    <a href="{% url 'catalog:task-update' pk=task.id %}">Update</a>
    <a href="{% url 'catalog:task-delete' pk=task.id %}">Delete</a>
    {% endfor %}
  </div>
  <hr>
  {% empty %}
  <p>No TODO List!</p>
  {% endfor %}
</div>

{% endblock content %}
